* {
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
}
.color_icon {
  color: #2196f3;
}
.nav_bar_item_icon {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.838;
  letter-spacing: 0.03em;
}
.nav_bar_item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav_bar_item:hover,
.nav_bar_item:focus {
  color: #2196f3;
}
.hero {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
.hero_head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.733;
  width: 696px;
  height: 120px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero_url {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.533px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  padding: 31px 64px;
  background-color: #2196f3;
  border-radius: 4px;
}
.edge_head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.edge_paragraph {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.583;
  letter-spacing: 0.03em;

  color: #757575;
}
.work_head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.857;
  letter-spacing: 0.03em;

  color: #212121;
}
.team_head_description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.857;
  letter-spacing: 0.03em;
  color: #212121;
}
.team_head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.842;
  letter-spacing: 0.03em;

  color: #212121;
}
.team_paragraph {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0.842;
  letter-spacing: 0.03em;
  color: #757575;
}
.href_nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
.maps_href {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.nav_tel_mail {
  color: #757575;
}
.footer {
  background: #2f303a;
  height: 252px;
}
.nav_bar_item_icon {
  color: #ffffff;
}
.href_nav_color {
  color: #9f9fa3;
}
.maps_href_color {
  color: #ffffff;
}
